@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

*{
  font-family: Arial, Helvetica, sans-serif;
}

.App{
  display: flex;
  justify-content: space-between;
  width: auto;

}

.inputInformation{
  width: 49vw;
  min-height: 100vh;
  border-radius: 10px;
  background-color: rgba(194, 255, 254, 0.9);
}

.container-info{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: auto;
  gap: 5px;
  color: #003C3D;
}

input{
  width: 318px;
  height: 22px;
  font-size: 14px;
}

.output-information{
  width: 49vw;
  min-height: 100vh;
  border-radius: 10px;
  background-color: whitesmoke;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(5, 1fr);
}

.header-output{
  grid-column: 2 / 5;
  grid-row: 1 / 2;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 52, 85, 1);
}

h2, textarea{
  margin-top: 5px;
  text-align: center;
  color: #003C3D;
}
h2{
  color: #003C3D;
}

.img{
  grid-column: 1 / 2 ;
  grid-row: 1 / 2 ;
}

.vertical-output{
  grid-column: 1 / 2;
  grid-row: 2 / 6;
  background-color: rgba(175, 175, 175, 0.3);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  gap: 12px;
}

.edu-exp-info{
  grid-column: 2 / 5 ;
  grid-row: 3 / 4;
  background-color: whitesmoke;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  text-align: center;
}

.pract-exp-info{
  grid-column: 2 / 5;
  grid-row: 4 / 5;
  background-color: whitesmoke;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  text-align: center;
}

.about-me-info{
  grid-column: 2 / 5;
  grid-row: 2 / 3;
  background-color: whitesmoke;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: center;
  text-align: start;
}

.container-about-me{
  max-width: 600px;
  height: auto;
}

.contact-output{
  grid-column: 2 / 5;
  grid-row: 5 / 6;
  background-color: whitesmoke;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: center;
  text-align: center;
  gap: 10px;
  
}
.general-info-output{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.languages-output{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 85px;
}

.name{
  font-size: 40px;
  color: whitesmoke;
}

.title{
  font-size: 16px;
  color: whitesmoke;
  font-weight: lighter;
}
